body {
    background-color: blanchedalmond;
}
.bigDiv {
    background-color: blanchedalmond;
}
.bigText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:blueviolet;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.myButton {
    margin-left: 40px;
    margin-right: 40px;
}