h3 {
    color:darkgray;
    margin-top: 10px;
}
h4 {
    margin-left: 10%;
}
.galaxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: -100px;
    transform: rotate(5deg);
}
.skills {
    position: absolute;
    transform: rotate(-28deg);
}
.box {
    background-color: rgb(68, 68, 68);
    width: 80%;
    display: flex;
}
.centerHorizontal {
    display: flex;
    justify-content: center;
}
.centerVertical {
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin: 30px;
    font-weight:lighter;
}
.small-left-margin {
    margin-left: 10%;
}
.subsection {
    margin-top: 20px;
    color:gainsboro;
    font-weight:lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}