h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-weight:lighter;
    font-family:sans-serif;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:gainsboro;
    font-family: sans-serif;
}
.galaxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    transform: rotate(5deg);
}
.skills {
    position: absolute;
    transform: rotate(-28deg);
}